%section.p-b-85.p-t-75.p-b-65.p-t-55
  .container
    .row
      .md-p-l-20.xs-no-padding.clearfix
        .col-md-12
          %h1.m-t-30.m-b-20 #{@service.title}
    .row
      .md-p-l-20.xs-no-padding.clearfix
        .col-md-8
          - unless @service.photo.url.nil?
            = link_to image_tag(@service.photo.url, class: "m-b-10", alt: @service.title, style: "width:100%"), service_url(@service)
          - else
            = link_to image_tag("services.jpeg", class: "m-b-10", alt: @service.title, style: "width:100%"), service_url(@service)
          %p.p-t-45 #{simple_format @service.description}
          - unless @service.benefits.blank?
            %p.p-b-25
              %h5 What is included in this service?
              %ul
                - @service.benefits.each do |item|
                  %li
                    %p
                      = sanitize item.description
          - unless @service.requirements.blank?
            %p.p-b-25
              %h5 What we need from you to Get Started?
              %ul
                - @service.requirements.each do |item|
                  %li
                    %p
                      = sanitize item.description
          - unless @service.faqs.blank?
            %p.p-b-25
              %h5 What you need to know?
              %ul
                - @service.faqs.each do |item|
                  %li
                    %p
                      = sanitize item.question
                    %p
                      = sanitize item.answer

        .col-md-4
          %a.btn.btn-block.btn-lg.btn-primary{href: start_service_url(@service)}
            Get Started
          %p.p-t-45 #{sanitize @service.short_description}