%section.p-b-55.p-t-75.xs-p-b-20.bg-master-darker
  .container
    .row
      .col-sm-6.col-xs-12.xs-m-b-40
        %h1.text-white.bold #{current_company.subdomain}
      .col-sm-2.col-xs-12.xs-m-b-20
        %h6.font-montserrat.text-uppercase.fs-14.text-white.p-b-10 Company
        %ul.no-style
          %li.m-b-5.no-padding
            %a.link.text-white{:href => "/"} Home
          %li.m-b-5.no-padding
            %a.link.text-white{:href => "/services"} Services
          %li.m-b-5.no-padding
            %a.link.text-white{:href => "/faq"} FAQ
          %li.m-b-5.no-padding
            %a.link.text-white{:href => "/terms"} Terms
          %li.m-b-5.no-padding
            %a.link.text-white{:href => "/privacy"} Privacy
      .col-sm-2.col-xs-12.xs-m-b-20
        %h6.font-montserrat.text-uppercase.fs-14.text-white.p-b-10 Get in Touch
        %ul.no-style
          - unless Store.last.facebook.nil?
            %li.m-b-5.no-padding
              %a.link.text-white{:href => "https://www.facebook.com/#{Store.last.facebook}", target: "_blank"} Facebook
          - unless Store.last.twitter.nil?
            %li.m-b-5.no-padding
              %a.link.text-white{:href => "https://twitter.com/#{Store.last.twitter}", target: "_blank"} Twitter
          - unless current_company.blog.blank?
            %li.m-b-5.no-padding
              %a.link.text-white{:href => "https://#{current_company.blog}", target: "_blank"} Blog
          %li.m-b-5.no-padding
            %a.link.text-white{:href => "/contact"} Contact
    %p.fs-12.hint-text.p-t-10.text-white
      Copyright &copy; #{Time.now.year}
      = link_to current_company.name, root_url, class: "text-white"