%ul.menu
  %li
    = link_to "Home", root_url
  %li
    = link_to "Services", services_url
  %li
    = link_to "FAQ", "/faq"
  %li
    = link_to "Contact Us", contact_url
  %li
    = link_to "Login", "/app"
  -# %li
  -#   = link_to "Apply", apply_url