!!!
%html
  %head
    %title #{current_store.title} - #{current_store.tagline}
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => asset_path('ico/60.png'), :rel => "apple-touch-icon"}/
    %link{:href => asset_path('ico/76.png'), :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => asset_path('ico/120.png'), :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => asset_path('ico/152.png'), :rel => "apple-touch-icon", :sizes => "152x152"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}/
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body.pace-dark
    / BEGIN HEADER
    %nav.header.md-header.light-solid{"data-pages" => "header"}
      .container.relative
        .pull-left
          .header-inner
            %a{href: root_url}
              - if current_store.logo.blank?
                %h1.bold #{current_company.subdomain}
              - else
                %img.logo{:alt => current_store.title, "data-src-retina" => asset_path(current_store.logo.url), :src => asset_path(current_store.logo.url)}/
                %img.alt{:alt => current_store.title, "data-src-retina" => asset_path(current_store.logo.url), :src => asset_path(current_store.logo.url)}/
        / BEGIN HEADER TOGGLE FOR MOBILE & TABLET
        .pull-right
          .header-inner
            %a.search-toggle.visible-sm-inline.visible-xs-inline.p-r-10{:href => "#"}
              %i.fs-14.pg-search
            .visible-sm-inline.visible-xs-inline.menu-toggler.pull-right.p-l-10{"data-pages" => "header-toggle", "data-pages-element" => "#header"}
              .one
              .two
              .three
        #header.pull-right.menu-content.clearfix{"data-pages-direction" => "slideRight"}
          / BEGIN HEADER CLOSE TOGGLE FOR MOBILE
          .pull-right
            %a.text-black.link.padding-10.visible-xs-inline.visible-sm-inline.pull-right.m-t-10.m-b-10.m-r-10{"data-pages" => "header-toggle", "data-pages-element" => "#header", :href => "#"}
              %i.pg-close_line
          .header-inner
            = render partial: "shared/storepage_menu"
    / END HEADER
    .page-wrappers
      / BEGIN JUMBOTRON
      .m-t-60
        = yield
      = render partial: "shared/store_footer"
      / END FOOTER
    / START OVERLAY SEARCH
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :scripts