!!!
%html
  %head
    %title #{current_store.title} - #{current_store.tagline}
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => asset_path('ico/60.png'), :rel => "apple-touch-icon"}/
    %link{:href => asset_path('ico/76.png'), :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => asset_path('ico/120.png'), :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => asset_path('ico/152.png'), :rel => "apple-touch-icon", :sizes => "152x152"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}/
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body.pace-dark
    / BEGIN HEADER
    %nav.header.bg-header.transparent-dark{"data-pages" => "header", "data-pages-header" => "autoresize", "data-pages-resize-class" => "dark"}
      .container.relative
        / BEGIN LEFT CONTENT
        .pull-left
          / .header-inner Allows to vertically Align elements to the Center
          .header-inner
            / BEGIN LOGO
            - unless current_store.logo.nil?
              %a{href: root_url}
                %img.logo{:alt => current_store.title, "data-src-retina" => asset_path(current_store.logo.url), :src => asset_path(current_store.logo.url)}/
                %img.alt{:alt => "", "data-src-retina" => asset_path(current_store.logo.url), :src => asset_path(current_store.logo.url)}/
        / BEGIN HEADER TOGGLE FOR MOBILE & TABLET
        .pull-right
          .header-inner
            -# %a.search-toggle.visible-sm-inline.visible-xs-inline.p-r-10{"data-toggle" => "search", :href => "#"}
            -#   %i.fs-14.pg-search
            .visible-sm-inline.visible-xs-inline.menu-toggler.pull-right.p-l-10{"data-pages" => "header-toggle", "data-pages-element" => "#header"}
              .one
              .two
              .three
        / END HEADER TOGGLE FOR MOBILE & TABLET
        / BEGIN RIGHT CONTENT
        #header.menu-content.mobile-dark.pull-right.clearfix{"data-pages-direction" => "slideRight"}
          / BEGIN HEADER CLOSE TOGGLE FOR MOBILE
          .pull-right
            %a.padding-10.visible-xs-inline.visible-sm-inline.pull-right.m-t-10.m-b-10.m-r-10{"data-pages" => "header-toggle", "data-pages-element" => "#header", :href => "#"}
              %i.pg-close_line
          / END HEADER CLOSE TOGGLE FOR MOBILE
          / BEGIN MENU ITEMS
          .header-inner
            = render partial: "shared/storefront_menu"
            -# %a.search-toggle.hidden-xs.hidden-sm{"data-toggle" => "search", :href => "#"}
            -#   %i.fs-14.pg-search
            / BEGIN COPYRIGHT FOR MOBILE
            .font-arial.m-l-35.m-r-35.m-b-20.visible-sm.visible-xs.m-t-20
              %p.fs-11.no-margin.small-text.p-b-20
              %p.fs-11.small-text.muted Copyright &copy; #{Time.now.year} #{current_company.name}
            / END COPYRIGHT FOR MOBILE
          / END MENU ITEMS
    / END HEADER
    .page-wrappers
      / BEGIN JUMBOTRON
      %section.jumbotron.full-vh{"data-pages" => "parallax"}
        .inner.full-height
          / BEGIN SLIDER
          #hero.swiper-container
            .swiper-wrapper
              / BEGIN SLIDE
              .swiper-slide.fit
                / BEGIN IMAGE PARRALAX
                .slider-wrapper
                  .background-wrapper{"data-swiper-parallax" => "30%"}
                    .background{"data-pages-bg-image" => current_store.cover.url}
                / END IMAGE PARRALAX
                / BEGIN CONTENT
                .content-layer
                  .inner.full-height
                    .container-xs-height.full-height
                      .col-xs-height.col-middle
                        .container
                          .row
                            .col-md-10.col-md-offset-1
                              %h1.light{"data-swiper-parallax" => "-15%", :style => "transform: translate3d(0%, 0px, 0px);"}
                                #{current_store.tagline}
                              %h4.sm-text-center.m-b-35 #{current_store.description}
                              %a.btn.btn-lg.btn-round.btn-primary.btn-rounded{href: services_url, title: "Services"} View Services

            .mouse-wrapper
              .mouse
                .mouse-scroll
            / Add Navigation
            .swiper-navigation.swiper-dark-solid.swiper-button-prev.auto-reveal
            .swiper-navigation.swiper-dark-solid.swiper-button-next.auto-reveal
        / END SLIDER
      / END JUMBOTRON

      / BEGIN CONTENT SECTION
      %section.p-b-85.p-t-75.p-b-65.p-t-55#services
        .container
          .md-p-l-20.xs-no-padding.clearfix
            %h4.m-b-30.text-center Featured Services
            - Service.all.sample(3).each do |service|
              .col-md-4
                .panel.panel-default.panel-services.p-b-20
                  .panel-heading
                    - unless service.photo.url.nil?
                      = link_to image_tag(service.photo.url, class: "m-b-10", alt: service.title, style: "width:100%"), service_url(service)
                    - else
                      = link_to image_tag("services.jpeg", class: "m-b-10", alt: service.title, style: "width:100%"), service_url(service)
                    .panel-title.p-t-30
                      = link_to service.title, service_url(service.id, service.slug)
                    - if service.service_type == 0
                      .small #{number_to_currency service.price, symbol: "$"}/hr
                    - elsif service.service_type == 1
                      .small #{number_to_currency service.price, symbol: "$"}/mo
                  .panel-body
                    %p
                      #{truncate service.description, length: 100}
            .col-sm-12.text-center
              = link_to "View all Services", services_url, class: "btn btn-lg btn-round btn-primary"
    
      / END FOOTER
    / START OVERLAY SEARCH
    = render partial: "shared/store_footer"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'